@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --blue-sky: #0367A6;
    --blue: #024873;
    --blue-dark: #0B1C26;
    --blue-green: #025373;
    --blue-white: #4E8DA6;
    --white: #fff;
    --black: #000;
    --lead: #5A5A5A;
    --black-white: #2D2D2D;
    --lead-white: #9D9D9D;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: "Outfit", sans-serif;
}

a{
    text-decoration: none;
    transition: color 0.3s ease;
    color: var(--blue);
}
a:hover{
    color: var(--blue-sky);
}
li{
    list-style: none;
}

nav{
    background-color: var(--blue-dark);
    position: sticky;
    top: 0;
    padding: 0 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 84px;
}

nav .nav-logo a{
    display: flex;
    align-items: center;
    gap: 16px;
}
nav .nav-logo a p{
    color: var(--white);
    font-size: 3rem;
    font-weight: bold;
}

nav .nav-logo img{
    width: 48px;
}

.ul-nav-links{
    display: flex;
    gap: 40px;
}
nav .ul-nav-links li a{
    color:var(--white);
    font-size: 1.8rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav .ul-nav-links li a:hover{
    color: var(--blue-white);

}

nav .btn,
.main .btn,
.cta .btn,
.about .right .btn{
    color: #fff;
    background-color: var(--blue-sky);
    padding: 12px 16px;
    border-radius: 24px;
    border: transparent;
    font-size: 1.6rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

nav .btn:hover{
    background-color: var(--blue-white);
    border-color: var(--blue-white);
}

nav button#menu-button{
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    padding: 8px;
    border-radius: 8px;
}

.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 148px;
    background-color: #0367A6;
    gap: 40px;
    height: 600px;
}
.main .left img{
    width: 500px;
    height: 500px;
    border-radius: 24px;
}

.main .right h1{
    font-size: 2.4rem;
    margin-bottom: 30px;
    color: var(--white);
}
.main .right h3{
    font-size: 4rem;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 32px;
}
.main .right p{
    font-size: 1.6rem;
    color: var(--white);
    font-weight: 300;
    line-height: 2.4rem;
    margin-bottom: 32px;
}

.main .btn{
    border: 1px solid var(--white);
}

.main .btn:hover,
.cta .contenido .btn:hover{
    background-color: var(--white);
    border-color: var(--white);
    color: var(--black);
}

.join{
    padding: 32px 148px;
}
.join .join-me{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    border: 1px solid var(--black);
    height: 160px;
    border-radius: 12px;
}

.join .join-me h4{
    font-size: 4rem;
    font-weight: 500;
}
.join .join-me .socials{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.join .join-me .socials a{
    font-size: 6rem;
    color: var(--blue-dark);
    transition: color 0.3s ease;
}

.join .join-me .socials a:hover{
    color: var(--blue-sky);
}

/* prog=jects section */
.info{
    padding: 48px 148px 0;
    background-color: #F0EEEE;
}
.info h2{
    font-size: 3.2rem;
}

.works,
.testimonios,
.numbers{
    background-color: #F0EEEE;
    
}

.works .sub-title,
.testimonios .sub-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 148px;
}
.works .sub-title h3,
.testimonios .sub-title h3{
    font-size: 4rem;
}

.works .sub-title a{
    font-size: 1.8rem;
    /* color: ; */
}
.works .container,
.testimonios .content{
    display: flex;
    justify-content: space-between;
    gap:20px;
    padding: 0 148px 80px;
    flex-wrap: wrap;
}

.works .container .item{
    width: 30%;
    border: var(--white);
    background-color: var(--white);
    border-radius: 10px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    box-shadow: 0 5px 32px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
.works .container .item:hover{
    border-color: var(--blue-green);
}

.works .container .item img{
    width: 100%;
    height: 212px;
    object-fit: cover;
    object-position: top;
    border-radius: 12px 12px 0 0;
}
.works .container .item .description,
.testimonios .content .content-item{
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 20px 30px 42px;
}

.works .container .item .description h5,
.testimonios .content .content-item h5{
    font-size: 1.8rem;
}
.works .container .item .description p,
.testimonios .content .content-item p{
    font-size: 1.4rem;
}

.works .container .item .description a{
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: underline;
    text-underline-offset: 10px;
    color: var(--blue-green);
}

.works .container .item .description a:hover{
    color: var(--blue-white);
}
.works .container .item .description a i{
    font-size: 2rem;
    margin-left: 8px;
}

/* Section testimoniois */

.testimonios .content{
    display: flex;
    flex-wrap: nowrap;
    gap:48px;
    padding: 0 148px 80px;
}
.testimonios .content .content-item{
    cursor: pointer;
}
.testimonios .content .content-item:nth-child(1){
    background-color: var(--blue-green);
    color: var(--white);
}
.testimonios .content .content-item:nth-child(2){
    background-color: var(--blue-sky);
    color: var(--white);
}
.testimonios .content .content-item:nth-child(3){
    background-color: var(--blue-dark);
    color: var(--white);
}
.testimonios .content .content-item .people{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}

.testimonios .content .content-item .people img{
    width: 56px;
}

.testimonios .content .content-item .people .name{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.testimonios .content .content-item .people .name h6{
    font-size: 1.6rem;
    font-weight: 300;
}
.testimonios .content .content-item .people .name p{
    font-size: 1.4rem;
    font-weight: 100;
}
/* resultados section */
.numbers .content-numbers{
    display: flex;
    justify-content: space-between;
    gap:20px;
    padding: 120px 148px 80px;
}

.numbers .content-numbers .item{
    display: flex;
    flex-direction: column;
    gap: 16px;
        cursor: pointer;
}
.numbers .content-numbers .item h3{
    font-size: 3.2rem;
}


.numbers .content-numbers .item h3:nth-child(1){
    color: #942626;
}
.numbers .content-numbers .item h3:nth-child(2){
    color: #362694;
}
.numbers .content-numbers .item h3:nth-child(3){
    color: #1e7041;
}
.numbers .content-numbers .item h3:nth-child(4){
    color: #d21eba;
}

.numbers .content-numbers .item p{
    font-size: 2.4rem;
}

/* cta section */

.cta{
    /* background-color: var(--blue-dark); */
    padding: 80px 148px 80px;
}

.cta .contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    padding: 64px 0;
    background-color: #024873;
    border-radius: 24px;
}

.cta .contenido h2{
    font-size: 4rem;
    font-weight: 400;
    color: var(--white);
}

/* footer section */

footer{
    background-color: #18181b;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 148px 80px;
    color: var(--white);
    gap: 100px;

}
footer .column-ultra{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
}
footer .column{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer .column img{
    width: 64px;
}

footer .column p{
    font-size: 1.4rem;
    color: var(--white);
}
footer .column .socials{
    display: flex;
    gap: 24px;
}
footer .column .socials a{
    color: var(--white);
    border: 1px solid var(--white);
    padding: 12px;
    border-radius: 100%;
    transition: all 0.3s ease;
}

footer .column .socials a:hover{
    color: var(--white);
    background-color: #1d4ed8;
    border-color: #1d4ed8;
}

footer .column .socials a i{
    font-size: 3.2rem;
}
footer .column h4{
    font-size: 1.8rem;
    font-weight: 400;
}

footer .column a{
    font-size: 1.6rem;
    color: var(--white);
}

footer .column a:hover{
    color: #1d4ed8;
}

.derechos{
    background-color: #18181b;
    margin: auto;
    padding: 1rem;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
}

/* ABOUT PAGE */

.titulo{
    padding: 48px 148px 40px;
}
.titulo h2{
    font-size: 4rem;
    text-align: center;
    color: var(--blue-green);
}
.about{
    display: flex;
    align-items: center;
    padding: 0 148px 60px;
    gap: 48px;
}
.about .left img{
    width: 500px;
    border-radius: 24px;
}
.about .right{
    display: flex;
    flex-direction: column;
    gap:32px;
}

.about .right h3{
    font-size: 3.2rem;
}
.about .right p{
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.about .right .info-down{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 24px;
}
.about .right .info-down .specific .datos{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    gap: 16px;
}

.about .right .info-down .specific .datos h5{
    font-size: 1.6rem;
    font-weight: 500;
}

.about .right .info-down .specific .datos p{
    font-size: 1.4rem;
}
.about .buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about .right .btn:hover{
    background-color: #362694;
    color: var(--white);
}
/* servive */
.service{
    padding: 20px 148px 80px;
}
.service .service-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    gap: 12px;
}
.service .service-container .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 30%;
    margin-bottom: 24px;
}
.service .service-container .item .item-title{
    display: flex;
    align-items: center;
    gap: 20px;
}
.service .service-container .item .item-title i{
    font-size: 4rem;
    padding: 10px;
    color: var(--white);
    background-color: var(--blue-green);
    border-radius: 100%;
}

.service .service-container .item .item-title h3{
    font-size: 1.8rem;
}
.service .service-container .item p{
    font-size: 1.6rem;
    text-align: center;
}
.service .service-container .item a{
    font-size: 1.6rem;
    padding-top: 8px;
    border-bottom: 1px solid var(--blue);
    color: var(--blue-sky);
    transition: all0.3s ease;
}

.service .service-container .item a:hover{
    color: var(--blue-white);
    border-bottom: transparent;
}
/* skills */
.skills{
    padding: 60px 148px 60px;

}
.skills .skills-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
}
.skills .skills-item i{
    font-size: 6.4rem;
    color: var(--blue);
    cursor: pointer;
}
/* experience section */
.ex-ed{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 148px 80px;
}
.ex-ed .ex-ed-item{
    width: 49%;
}
.ex-ed .ex-ed-item h3{
    margin-bottom: 40px;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.ex-ed .ex-ed-item .item{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
}

.ex-ed .ex-ed-item .item h4{
    font-size: 1.8rem;
    font-weight: 500;
}

.ex-ed .ex-ed-item .item .details{
    display: flex;
    gap: 8px;
}

.ex-ed .ex-ed-item .item .details h5{
    font-size: 1.6rem;
    font-weight: 400;

}

.ex-ed .ex-ed-item .item .details p{
    font-size: 1.6rem;
}
.ex-ed .ex-ed-item .item p{
    font-size: 1.6rem;
}

/* blogs page */

.blogs{
    padding: 80px 148px 80px;
}

.blogs .blogs-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.blogs .blogs-container .blogs-container-item{
    width: 30%;
}
.blogs .blogs-container .blogs-container-item img{
    width: 100%;
    height: 100%;
}

.blogs .blogs-container .blogs-container-item .description-blog{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 8px 0;
}

.blogs .blogs-container .blogs-container-item .description-blog h4{
    font-size: 2rem;
}
.blogs .blogs-container .blogs-container-item .description-blog p{
    font-size: 1.6rem;
}
.blogs .blogs-container .blogs-container-item .description-blog a{
    background-color: var(--white);
    border: 1px solid var(--blue);
    padding: 8px 12px;
    width: 112px;
    text-align: center;
    border-radius: 24px;
    font-size: 1.6rem;
    transition: all 0.3s ease;
}

.blogs .blogs-container .blogs-container-item .description-blog a:hover{
    background-color: var(--blue-green);
    border: transparent;
    color: var(--white);
}

/* contact section */
.contact {
    padding: 80px 148px 80px;
    display: flex;
    flex-direction: column;
}
.contact .forms label input{
    padding: 12px;
    border-radius: 24px;
    border: 1px  solid var(--blue-green);
    font-size: 1.6rem;
    transition: all0.3s ease;
}
/* .contact .forms label input:hover{
    border: 1px solid var(--blue);
    background-color: #024873;
} */

.form{
    padding: 80px 300px 80px;
}
.form .input-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.form .input-group input{
    padding: 16px;
    border-radius: 24px;
    border: 1px solid var(--blue-green);
    width: 100%;
    font-size: 1.6rem;
    background-color: #e9f2f8;
}
.form .input-group input:nth-child(4){
    height: 200px;
}

.form .input-group button{
    width: 150px;
    padding: 8px 12px;
    border-radius: 24px;
    border: 1px solid var(--blue-green);
    background-color: var(--blue-green);
    color: var(--white);
    font-size: 1.6rem;
    transition: all0.3s ease;
}
.form .input-group button:hover{
    border: 1px solid (--blue-green);
    background-color: var(--white);
    color: var(--black);
}

/* Blog */
.all{
    background-color: #1e1e1e;
    color: #fff;
    padding: 80px 148px 80px;
}
.all h1 {
    margin-bottom: 32px;
    font-size: 4.8rem;
}
.all .autor{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    padding-bottom: 36px;
}
.all  .autor img {
    height: 56px;
    border-radius: 100%;
}
.all .autor .descripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

}
.all .autor .descripcion h4{
    font-size: 1.6rem;
    font-weight: 300;
}
.all .autor .descripcion h5{
    font-size: 1.4rem;
    font-weight: 200;
}
.imagen-principal img{
    width: 100%;
}
.contenido{
    padding: 24px 0 24px 0;
}
.contenido p{
    width: 100%;
    font-size: 1.6rem;
    font-weight: 400;
    padding-bottom: 36px;
    line-height: 24px;
}
.video {
    position: relative;
    width: 100%;
    max-width: 100%;
    aspect-ratio: 16/9;
}
.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
h6 {
    padding-top: 84px;
    padding-bottom: 148px;
    font-size: 1.6rem;
    font-weight: 600;
}
.blog .blogs-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
}

.blog .blogs-container .blogs-container-item{
    width: 30%;
}
.blog .blogs-container .blogs-container-item img{
    width: 100%;
    height: 100%;
}

.blog .blogs-container .blogs-container-item .description-blog{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 8px 0;
}

.blog .blogs-container .blogs-container-item .description-blog h4{
    font-size: 2rem;
}
.blog .blogs-container .blogs-container-item .description-blog p{
    font-size: 1.6rem;
}
.blog .blogs-container .blogs-container-item .description-blog a{
    background-color: var(--white);
    border: 1px solid var(--blue);
    padding: 8px 12px;
    width: 112px;
    text-align: center;
    border-radius: 24px;
    font-size: 1.6rem;
    transition: all 0.3s ease;
}

.blog .blogs-container .blogs-container-item .description-blog a:hover{
    background-color: var(--blue-green);
    border: transparent;
    color: var(--white);
}
/* responsive */
@media screen and (max-width: 1200px){
    .main{
        padding: 0 85px;
    }
    .join{
        padding: 32px 85px;
    }
    .info{
        padding: 48px 85px 0;
    }
    .works .sub-title,
    .testimonios .sub-title{
        padding: 60px 85px;
    }
    .works .container,
    .testimonios .content{
        padding: 0 85px 60px;
    }
    .numbers .content-numbers{
        padding: 100px 85px 40px;
    }
    .cta{
        padding: 80px 85px 80px;
    }
    footer{
        padding: 80px 42px 80px;
        gap: 70px;
    }
    footer .column-ultra  .column .socials{
        gap: 16px;
    }
    /* about page */
    .titulo{
        padding: 48px 85px 48px;
    }
    .about{
        padding: 0 85px 48px;
        gap: 24px;
    }
    .about .left img{
        width: 400px;
    }
    .service{
        padding: 20px 85px 60px;
    }
    .skills{
        padding: 60px 85px 60px;
    }
    .ex-ed{
        padding: 20px 85px 60px;
    }
    /* blog section */
    .blogs{
        padding: 60px 85px 60px;
    }
    .blogs .blogs-container{
        gap: 24px;
    }
    .blogs .blogs-container .blogs-container-item img{
        width: 100%;
    }
    /* contact page */
    .form{
        padding: 80px 148px 80px;
    }
}
@media screen and (max-width: 992px){
    nav{
        padding: 0 42px;
    }
    .main{
        flex-direction: column-reverse;
        height: auto;
        padding: 60px 42px;
    }
    .main .left img{
        width: 100%;
        height: auto;
    }
    .main .right h1{
        font-size: 3.2rem;
    }
    .join{
        padding: 32px 42px;
    }
    .join .join-me h4{
        font-size: 3.2rem;
    }
    .join .join-me .socials a{
        font-size: 4.8rem;
    }
    .info{
        padding: 42px 42px 0;
    }
    .info h2{
        font-size: 2.4rem;
    }
    .works .sub-title,
    .testimonios .sub-title{
        padding: 48px 42px;
    }
    .works .sub-title h3,
    .testimonios .sub-title{
        font-size: 3.2rem;
    }
    .works .container{
        padding: 0 42px 40px;
        gap: 12px;
    }
    .works .container .item{
        width: 49%;
        gap: 12px;
    }
    .testimonios .content{
        padding: 0 42px 40px;
    }
    .numbers .content-numbers{
        padding: 80px 42px 40px;
    }
    .numbers .content-numbers .item h3{
        font-size: 2.4rem;
    }
    .numbers .content-numbers .item p{
        font-size: 1.6rem;
    }
    .cta{
        padding: 60px 42px 60px;
    }
    .cta .contenido h2{
        font-size: 3.2rem;
    }
    footer{
        padding: 80px 16px 80px;
        gap: 50px;
    }
    footer .column-ultra  .column .socials{
        gap: 16px;
    }
    footer .column a{
        font-size: 1.4rem;
        font-weight: 300;
    }
    footer .column .socials a i{
        font-size: 2.4rem;
    }
    .titulo{
        padding: 48px 42px 32px;
    }
    .titulo h2{
        font-size: 3.2rem;
    }
    .about{
        flex-direction: column;
        padding: 0 42px 48px;
    }
    .about .left img{
        width: 100%;
    }
    .about .right .info-down{
        gap: 80px;
    }
    .about .buttons{
        justify-content: center;
        gap: 80px;
    }
    .service{
        padding: 20px 42px 48px;
    }
    .service .service-container .item{
        width: 49%;
    }
    .skills{
        padding: 48px 42px 48px;
    }
    .ex-ed{
        padding: 20px 42px 60px;
    }
    .blogs{
        padding: 48px 42px 48px;
    }
    .blogs .blogs-container{
        gap: 12px;
    }
    .blogs .blogs-container .blogs-container-item{
        width: 49%;
    }
    
}

@media screen and (max-width: 900px){
    nav .btn{
        display: none;
    }
    .testimonios .content{
        flex-wrap: wrap;
        gap: 24px;
    }
    .testimonios .content .content-item{
        width: 46%;
    }
    footer{
        align-items: center;
        flex-wrap: wrap;
    }
    footer .column{
        width: 45%;
    }
    footer .column-ultra{
        width: 100%;
        justify-content: space-around;
        gap: 12px;
    }
    .form{
        padding: 80px 42px 80px;
    }
}
@media screen and (max-width: 768px){
    nav .nav-logo a img{
        width: 4rem;
    }
    nav .nav-logo a p{
        font-size: 2.4rem;
    }
    nav .ul-nav-links{
        display: none;
    }
    nav.open ul{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 500px 85px 24px 20px;
        background-color: var(--blue-dark);
        border-radius: 12px;
    }
    nav button#menu-button {
        display: flex;
        border: transparent;
        background-color: var(--blue-dark);
        color: var(--white);
        font-size: 3rem;
    }
    .main .right h1,
    .main .right h3{
        margin-bottom: 16px;
    }
    .join .join-me h4{
        font-size: 2.4rem;
    }
    .join .join-me .socials{
        gap: 32px;
    }
    .join .join-me .socials a {
        font-size: 3.2rem;
    }
    .works .container .item{
        width: 100%;
    }
    .testimonios .content .content-item{
        width: 100%;
    }
    footer .column .socials{
        flex-wrap: wrap;
    }
    /* about page */
    .about .right .info-down{
        flex-direction: column;
        gap: 40px;
    }
    .about .right .info-down .specific{
        width: 100%;
    }
    .about .right .info-down .specific .datos h5{
        width: 150px;
    }
    .service .service-container .item{
        width: 100%;
    }
    .skills .skills-item{
        flex-wrap: wrap;
    }
    .ex-ed{
        flex-direction: column;
    }
    .ex-ed .ex-ed-item{
        width: 100%;
    }
    .ex-ed .ex-ed-item h3{
        text-align: center;
        margin-bottom: 40px;
    }
    /* blog page */
    .blogs .blogs-container{
        flex-direction: column;
        gap: 48px;
    }
    .blogs .blogs-container .blogs-container-item{
        width: 100%;
    }
    .blogs .blogs-container .blogs-container-item img{
        width: 100%;
        height: 400px;
        object-fit: cover;
        object-position: top;
    }
}
@media screen and (max-width: 576px){
    nav{
        padding: 0 16px;
    }
    .main{
        padding: 56px 16px;
    }
    .main .right h1{
        font-size: 2.4rem;
        margin-bottom: 12px;
    }
    .main .right h3{
        font-size: 2.4rem;
        margin-bottom: 12px;
    }
    .join{
        padding: 32px 16px;
    }
    .join .join-me{
        gap: 32px;
        height: 80px;
    }
    .join .join-me h4{
        font-size: 1.8rem;
    }
    .join .join-me .socials{
        gap: 12px;
    }

    .info{
        padding: 32px 16px 0;
    }
    .info h2{
        font-size: 1.6rem;
    }
    .works .sub-title,
    .testimonios .sub-title{
        padding: 32px 16px;
    }
    .works .sub-title h3,
    .testimonios .sub-title h3{
        font-size: 2.4rem;
    }
    .works .sub-title a{
        font-size: 1.6rem;
    }
    .works .container{
        padding: 0 16px 32px;
    }
    .testimonios .content{
        padding: 0 16px 32px;
    }
    .numbers .content-numbers{
        padding: 60px 16px 40px;
    }
    .numbers .content-numbers .item h3{
        font-size: 1.6rem;
    }
    .numbers .content-numbers .item p{
        font-size: 1.4rem;
    }
    .cta{
        padding: 60px 16px 60px;
    }
    .cta .contenido{
        gap: 32px;
        padding: 32px 0;
    }
    .cta .contenido h2{
        font-size: 2.4rem;
        text-align: center;
    }
    /* pblogs page */
    .blogs{
        padding: 48px 16px 48px;
    }
    .blogs .blogs-container .blogs-container-item img{
        width: 100%;
        height: 100%;
    }
    .form{
        padding: 40px 16px 40px;
    }
}
@media screen and (max-width: 435px){
    nav.open ul{
        padding: 500px 6px 24px 6px;
    }
}